@tailwind base;
@tailwind components;
@tailwind utilities;

body.dark-mode {
  background-color: #1d1d1d;
  /* Dark background color */
  color: #ffffff;
  /* Light text color */
}

/* Light mode styling (default) */
body {
  background-color: #ffffff;
  /* Light background color */
  color: #1d1d1d;
  /* Dark text color */
}

/* Container styling */
.flex {
  display: flex;
  gap: 8px;
  /* Adjust the gap between elements as needed */
  padding: 16px;
  /* Adjust the padding as needed */
}

/* Input styling */
input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #cbd5e0;
  border-radius: 4px;
}

/* Selected email styling */
.bg-blue-500 {
  background-color: #4299e1;
  /* Blue background color */
  color: #ffffff;
  /* White text color */
  padding: 8px;
  margin: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

/* Close icon styling */
.bg-blue-500 span {
  cursor: pointer;
  margin-left: 8px;
}

/* Dropdown styling */
.absolute {
  position: absolute;
}

/* Dropdown item styling */
.p-2 {
  padding: 8px;
}

/* Hover effect on dropdown items */
.cursor-pointer:hover {
  background-color: rgb(26, 26, 26)
    /* Light gray background color on hover */
}

/* Scrollable dropdown */
.overflow-y-auto {
  max-height: 128px;
  /* Adjust the maximum height as needed */
}